{{#each songs}}
<div class="song-container">
  <h4 class="song-title">{{title}}</h4>
  <ul class="song-info">
    <li class="song-artist">artist: {{artist}}</li>
    <li class="song-album">album: {{album}}</li>
  </ul>
  	<button class="delete-button">Delete</button>
</div>
{{/each}}